{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}

{% block content_body %}
{% if self.cover_image %}
{% image page.cover_image fill-1920x900 format-webp preserve-svg as cover_image %}
<div class="hero-bg" style="background-image:url({{cover_image.url}});">
  <div class="hero-fg">
{% else %}
<div class="bg-dark text-white p-2">
{% endif %}
    <div class="container page-title align-items-center">
      <div class="row">
        <div class="col">
          <h2 class="display-6 text-center">{{page.hero_title}}</h2>

            <div class="text-center lead">{{ page.hero_content | block_richtext }}</div>
            {% if page.hero_page %}
            <div class="text-center">
                <a href="{{ page.hero_page.url }}" class="btn btn-outline-light">
                    {{ page.hero_page_button }}
                </a>
            </div>
            {% endif %}
         </div>
      </div>
    </div>
{% if self.cover_image %}
  </div>
{% endif %}
</div>
{% for block in page.body %}
{% include_block block with settings=settings %}
{% endfor %}
{% endblock %}
