{% extends "base.html" %}
{% load static wagtailcore_tags home_tags django_bootstrap5 %}

{% block body_class %}{% endblock %}

{% block content %}
<section class="form">
  <div class="container">
    <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
      <div class="col-lg-10">
        <div class="info-wrap">
        {{ page.intro | block_richtext }}
        </div>
      </div>
    </div>
</section>
<section class="form">
  <div class="container">
    <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
      <div class="col-lg-10">
        <form method="post" action="{{ page.url }}" class="contact-form">
          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          <div class="text-center"><button type="submit">{{ page.button_text}}</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
