{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}{% endblock %}

{% block content %}
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                {% for image in page.images %}
                <div class="swiper-slide">
                  {% image image.value.image width-856 as img %}
                  <img src="{{ img.url }}" alt="{{ image.value.alt_text }}"/>
                </div>
                {% endfor %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
          {% with page.get_attributes as attrs %}
          {% if attrs %}
            <div class="portfolio-info">
              <h3>{{ page.attributes_title }}</h3>
              <ul>
              {% for attr in attrs %}
                <li><strong>{{ attr.name}}</strong> : {{ attr.value }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% endwith %}
            <div class="portfolio-description">
              {{ page.short_description | block_richtext }}
              {{ page.body | block_richtext }}
              {% with base_price=page.base_price %}
              <p>{% blocktranslate %}From {{ base_price }}€{% endblocktranslate %}</p>
              {% endwith %}
            </div>
            <div>
              {% comment %}
              <form method="post">{% csrf_token %}<button name="add_to_cart" class="btn btn-primary add-to-cart">{% trans "Order this" %}</button></form>
              {% endcomment %}
              {% if page.order_page %}
              <a href="{{ page.order_page.url }}" class="btn btn-primary">{% trans "Order this" %}</a>
              {% endif %}

              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
{% endblock content %}


