{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}{% endblock %}

{% block content %}
  {{ page.body }}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        {% if products|length and not page.attribute_value %}
        <div class="row" data-aos="fade-up">
          <h3 class="text-center">{{ page.attribute_name | title }}</h3>
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{% translate "All" %}</li>

              {% for attribute, _ in products %}
                {% ifchanged attribute %}
                <li data-filter=".filter-{{ attribute | slugify }}">{{ attribute }}</li>
                {% endifchanged %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if products|length %}
          <div class="row portfolio-container" data-aos="fade-up">
          {% for attribute, product in products %}
          <div class="col-lg-4 col-md-6 portfolio-item{% if not page.attribute_value %}
  filter-{{ attribute | slugify }}{% endif %}">
              {% image product.first_image.image fill-416x312 class="img-fluid" %}
              <div class="portfolio-info">
                <h4><a href="{{ product.url }}">{{ product.title }}</h4>
                {{ product.short_description | block_richtext }}
                {% image product.first_image.image original as img %}
                <a href="{{ img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ product.title }}"><i class="bx bx-plus"></i></a>
                <a href="{{ product.url }}" class="details-link" title="Plus de détails"><i class="bx bx-link"></i></a>
              </div>
            </div>
          {% endfor %}
          </div>
        {% endif %}

      </div>
    </section><!-- End Portfolio Section -->
{% endblock content %}

