{% load wagtailimages_tags home_tags %}
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container">

    <div class="row no-gutters">
      {% if value.image_position != 'right' %}
      <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right">
        {% image value.image.image width-526 alt=value.image.alt_text %}
      </div>
      {% endif %}
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up">{{ value.title | inline_richtext }}</h3>
          <div data-aos="fade-up">
          {{ value.text | block_richtext }}
          </div>
          <div class="row">
          {% for item in value.items %}
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="bx bx-{{ item.icon_name }}"></i>
              <h4>{{ item.title | inline_richtext }}</h4>
              {{ item.text | block_richtext }}
            </div>
          {% endfor %}
          </div>
        </div><!-- End .content-->
      </div>
      {% if value.image_position == 'right' %}
        <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-left">
          {% image value.image.image width-526 alt=value.image.alt_text %}
        </div>
      {% endif %}
    </div>

  </div>
</section><!-- End About Us Section -->


