{% load static wagtailcore_tags home_tags %}
    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{{ value.title | inline_richtext }}</h2>
          {{ value.text | block_richtext }}
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
        {% for client in value.clients %}
          {% include_block client %}
        {% endfor %}
        </div>

      </div>
    </section><!-- End Our Clients Section -->

