{% load wagtailcore_tags home_tags %}
<!-- ======= Cta Section ======= -->
<section id="cta{% if value.alternate_layout %}-alt{% endif %}" class="cta{% if  value.alternate_layout %}-alt{% endif %}">
  <div class="container">

    <div class="row">
      {% if value.alternate_layout %}
      <div class="text-center">
        <h3>{{ value.title | inline_richtext }}</h3>
        {{ value.text | block_richtext }}
        <a class="cta-btn" href="{{ value.page.url }}">{{ value.button_text }}</a>
      </div>
      {% else %}
      <div class="col-lg-9 text-center text-lg-left">
        <h3>{{ value.title | inline_richtext }}</h3>
        {{ value.text | block_richtext }}
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="{{ value.page.url }}">{{ value.button_text }}</a>
      </div>
      {% endif %}
    </div>

  </div>
</section><!-- End Cta Section -->

