{% load wagtailcore_tags wagtailimages_tags home_tags %}
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h3>{{ value.title | inline_richtext }}</h3>
      {{ value.text | block_richtext }}
    </div>

    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
        <ul class="nav nav-tabs flex-column">
        {% for item in value.items %}
          <li class="nav-item{% if not forloop.first %} mt-2{% endif %}">
            <h4>
            <a class="nav-link{% if forloop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ forloop.counter }}">
              {{ item.title | inline_richtext }}
            </a>
            </h4>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-lg-7 ml-auto" data-aos="fade-left" data-aos-delay="100">
        <div class="tab-content">
        {% for item in value.items %}
          <div class="tab-pane{% if forloop.first %} active show{% endif %}" id="tab-{{ forloop.counter }}">
            <figure class="float-start">
              {% image item.image.image original class="img-fluid" alt=item.image.alternative_text %}
            </figure>
            {{ item.description | block_richtext }}
            <div class="clearfix"></div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->

