{% load static wagtailcore_tags %}
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        {% for item in value.items %}
        {% include_block item %}
        {% endfor %}

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button"
        data-bs-slide="prev" title="Précédent">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button"
        data-bs-slide="next" title="Suivant">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

