{% load wagtailimages_tags wagtailcore_tags home_tags %}
{% image value.background_image original as image %}
<div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url({{ image.url }});">
  <div class="carousel-container">
    <div class="carousel-content animate__animated animate__fadeInUp">
      <h2>{{ value.title | inline_richtext }}</h2>
      {{ value.text | block_richtext }}
      {% if value.page %}
      <div class="text-center"><a href="{{ value.page.url }}"
          class="btn-get-started">{{ value.button_text }}</a></div>
      {% endif %}
    </div>
  </div>
</div>

