{% load home_tags %}
<section id="inline" class="inline">
  <div class="container">

    <div class="row justify-content-center" data-aos="fade-up">

      <div class="col-lg-10">

        <div class="info-wrap">
          <div class="row">
          {% for item in value.items %}
            <div class="col-lg-4 info{% if not forloop.first %} mt-4 mt-lg-0{% endif %}">
              <i class="bi bi-{{ item.icon_name }}"></i>
              <h4>{{ item.title }}</h4>
              {{ item.text | block_richtext }}
            </div>
          {% endfor %}
          </div>
        </div>

      </div>

    </div>
</section>
