{% load static home_tags %}
<section class="paragraph">
  <div class="container">

    <div class="section-title{% if value.center %} center {% endif %}"{% if value.effect != "none" %} data-aos="{{ value.effect }}"{% endif %}>
      <h2>{{ value.title }}</h2>
      {{ value.text | block_richtext }}
    </div>
  </div>
</section><!-- End Paragraph Section -->

