{% load i18n wagtailcore_tags %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{% translate "All" %}</li>
              {% for item in value.items %}
                {% ifchanged item.category %}
                  <li data-filter=".filter-{{ item.category | slugify }}">{{ item.category }}</li>
                {% endifchanged %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
        {% for item in value.items %}
          {% include_block item %}
        {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

