{% load wagtailimages_tags %}
<div class="col-lg-4 col-md-6 portfolio-item filter-{{ value.category | slugify }}">
  {% image value.image.image fill-416x312 class="img-fluid" alt=value.image.alternative_text %}
  <div class="portfolio-info">
    <h4>{{ value.page.title }}</h4>
    <p>{{ value.short_description }}</p>
    {% image value.image.image original as img %}
    <a href="{{ img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ value.page.title }}"><i class="bx bx-plus"></i></a>
    <a href="{{ value.page.url }}" class="details-link" title="Plus de détails"><i class="bx bx-link"></i></a>
  </div>
</div>

