{% load wagtailcore_tags %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
        {% for item in value.items %}
          {% include_block item %}
        {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

