{% load home_tags %}
<div class="col-lg-4 col-md-6">
  <div class="icon-box" data-aos="fade-up">
    <div class="icon"><i class="bi bi-{{ value.icon_name }}"></i></div>
    <h4 class="title"><a href="{{ value.page.url }}">{{ value.title }}</a></h4>
    {{ value.text | block_richtext }}
  </div>
</div>

