{% load wagtailcore_tags home_tags %}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h3>{{ value.title | inline_richtext }}</h3>
      {{ value.text | block_richtext }}
    </div>

    <div class="row">

      {% for item in value.items %}
        {% include_block item %}
      {% endfor %}

    </div>

  </div>
</section><!-- End Our Team Section -->

