{% load wagtailcore_tags wagtailimages_tags home_tags %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h3>{{ value.title | inline_richtext }}</h3>
      {{ value.text | block_richtext }}
    </div>
    <div class="row">
    {% for item in value.items %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter0 }}00">
        <div class="testimonial-item mt-4">
	  {% image item.image.image fill-90x90 class="testimonial-img" alt=item.image.alternative_text %}
          <h3>{{ item.name }}</h3>
          <h4>{{ item.description | inline_richtext }}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{ item.text | inline_richtext }}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
</section><!-- End Testimonials Section -->
