{% load i18n menu_tags wagtailsettings_tags %}

{% get_settings use_default_site=True %}
{% with settings.home.CustomSiteSettings as settings %}
<mj-navbar base-url="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}" hamburger="hamburger" ico-color="{{ settings.default_color }}" padding-top="5px" align="right">
{% for item in menu_items %}
  <mj-navbar-link href="{{ item.href }}" color="#000000">{{ item }}</mj-navbar-link>
{% endfor %}
</mj-navbar>
{% endwith %}
