{% extends "coderedcms/pages/web_page.html" %}
{% load i18n wagtailcore_tags website_tags django_bootstrap5 %}

{% block content_body %}
  <section class="container p-3"> 
      <div class="row">
        {% if form %}
        <div claass="col text-center">
          <h3>{% trans "Subscribe to our mailing list" %}</h3>
          <p>{% trans "Please enter your address below to receive our newsletters." %}</p>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {% trans "Subscribe" as btn_text %}
            {% with addon='<button type="submit" class="btn btn-outline-secondary">'|add:btn_text|add:'</button>' %}
            {% bootstrap_field field show_label=False addon_after_class=None addon_after=addon %}
            {% endwith %}
            {% endfor %}
          </form>
        </div>
        {% else %}
        <div class="col-lg-9 text-center">
          <h3>{% trans "Thank you for your subscription!" %}</h3>
          <p>{% blocktrans %}In order to validate your subscription to the mailing list, please check your mails and click the validation link inside.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center d-flex align-items-center">
          <a class="btn btn-outline-primary" href="{{ site.root_page.url }}">{{ site.root_page.title }}</a>
        </div>
      </div>
      {% endif %}
  </section>
{% endblock content_body %}
