{% extends "coderedcms/pages/web_page.html" %}
{% load i18n wagtailcore_tags website_tags %}

{% block content_body %}
  <section class="container p-3"> 
      <div class="row">
        <div class="col-lg-9 text-center">
          <h3>{% trans "Unsubscribe mailing list" %}</h3>
          <p>{% blocktrans %}You are about to unsubscribe our newsletter. All you have to do is click the following button to confirm your choice. If you wish to stay subscribed, there is nothing to do and you can safely close this page.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center d-flex align-items-center">
          <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-outline-primary"">{% trans "Unsubscribe newsletter" %}</button>
          </form>
        </div>
      </div>
  </section>
{% endblock content_body %}
