{% extends "coderedcms/pages/web_page.html" %}
{% load i18n wagtailcore_tags website_tags django_bootstrap5 %}

{% block content_body %}
  <section class="container p-3"> 
      <div class="row">
        <div class="col-lg-9 text-center">
          <h3>{% trans "Almost there…" %}</h3>
          <p>{% blocktrans %}You are about to finally validate your mailing list subscription. Just click this button and it’s done.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center d-flex align-items-center">
          <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-outline-primary">{% trans "Validate my email" %}</button>
          </form>
        </div>
      </div>
  </section>
{% endblock content_body %}
