{% extends "coderedcms/pages/web_page.html" %}
{% load i18n wagtailcore_tags website_tags django_bootstrap5 %}

{% block content_body %}
  <section class="container p-3"> 
      <div class="row">
        <div class="col-lg-9 text-center">
          <h3>{% trans "Incorrect validation link" %}</h3>
          <p>{% trans "Sorry, your link seems invalid. It could have expired." %}</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center d-flex align-items-center">
          <a class="btn btn-outline-primary" href="{{ site.root_page.url }}">{{ site.root_page.title }}</a>
        </div>
      </div>
  </section>
{% endblock content_body %}
