{% load static i18n wagtailcore_tags wagtailsettings_tags wagtailimages_tags coderedcms_tags website_tags mjml %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}
{% wagtail_site as site %}

{% with default_color="#eea1c1" %}
{% mjml %}
<mjml>
  <mj-body background-color="#d6dde5">
    <mj-section background-color="#ffffff">
      <mj-column width="17%" vertical-align="middle">
      {% if settings.coderedcms.LayoutSettings.logo %}
        {% image settings.coderedcms.LayoutSettings.logo width-280 as logo %}
        <mj-image href="{{ site.root_page.full_url }}" src="{{ logo.full_url }}" alt="{{ site.site_name }}" align="center" padding="10px"></mj-image>
        {% else %}
        <mj-text font-style="bold" font-size="30px" href="{{ site.root_page.full_url }}">{{ site.site_name }}</mj-text>
        {% endif %}
      </mj-column>
      <mj-column width="83%" vertical-align="middle">
      {% get_website_navbars as navbars %}
        {% for navbar in navbars %}
        <mj-navbar base-url="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}" hamburger="hamburger" ico-color="{{ default_color }}" padding-top="5px" align="right">
          {% for item in navbar.content %}
            {% if item.value.use_in_mails %}
              {% if item.block.name == "dropdown" %}
                {% for sublink in item.value.links %}{% if sublink.value.use_in_mails %}
                <mj-navbar-link href="{{ sublink.value.url }}" color="#000000">{{ sublink.value.button_title }}</mj-navbar-link>
                {% endif %}{% endfor %}
              {% elif item.block.name == "link" %}
              <mj-navbar-link href="{{ item.value.url }}" color="#000000">{{ item.value.button_title }}</mj-navbar-link>
              {% endif %}
            {% endif %}
          {% endfor %}
        </mj-navbar>
      {% endfor %}
      </mj-column>
    </mj-section>
    <mj-section background-color="#2f323b">
      <mj-column>
        <mj-text color="#fff">
          {% with site_name=site.site_name contact_email=contact.email %}
          <p style="font-size="18px">{% trans "Hello." %}</p>
          <p>{% blocktranslate %}You just subscribed to {{ site_name }} with the address <a href="mailto:{{ contact_email }}" style="color: {{ default_color }};">{{ contact_email }}</a>. To confirm your subscription, please click on this link: <a href="{{ confirm_href }}" style="color: {{ default_color }}">Confirm my mail</a>.{% endblocktranslate %}</p>
	  <p>{% trans "If you do not wish to subscribe, or if you weren’t the author of this request, you can safely ignore this message." %}</p>
          <p>{% blocktranslate %}If you do not click the above link in {{ link_validity }}, your email will be deleted from our database.{% endblocktranslate %}</p>
          <p>{% trans "Best regards," %}</p>
          <p align="right">{{ site_name }}</p>
          {% endwith %}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="{{ default_color }}" padding-bottom="20px" padding-top="0">
      <mj-column vertical-align="middle" width="20%">
        {% if settings.coderedcms.LayoutSettings.logo %}
          {% image settings.coderedcms.LayoutSettings.logo width-280 as logo %}
          <mj-image href="{{ site.root_page.full_url }}" src="{{ logo.full_url }}" alt="{{ site.site_name }}" align="center" padding="10px" border="none" padding-left="10px" padding-right="10px" padding-bottom="10px" padding-top="10px"></mj-image>
        {% else %}
          <mj-text font-style="bold" font-size="30px" href="{{ site.root_page.full_url }}">{{ site.site_name }}</mj-text>
        {% endif %}
      </mj-column>
      <mj-column vertical-align="middle" width="80%">
        <mj-social padding-top="20px" align="right">
        {% for social_link in settings.socials %}
          <mj-social-element href="{{ social_link.value.url }}" src="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}{% static "icons/"|add:social_link.value.icon_name|add:".png" %}"></mj-social-element>
        {% endfor %}
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="0px"></mj-section>
  </mj-body>
</mjml>
{% endmjml %}
{% endwith %}
