{% load static i18n wagtailcore_tags wagtailuserbar wagtailsettings_tags wagtailimages_tags coderedcms_tags website_tags mjml %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}
{% wagtail_site as site %}

{% with default_color="#eea1c1" %}
{% mjml %}
<mjml>
  <mj-body background-color="#d6dde5">
    {% if not archive %}<mj-section>
      <mj-column vertical-align="middle" background-color="#2f323b">
        <mj-text align="center" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0" color="#FFF">
          <p>
          {% url "campaign_view" campaign_uuid=self.uuid as archive_path %}
          {% with archive_url=request.scheme|add:"://"|add:request.get_host|add:archive_path %}
          {% blocktranslate %}
          If you cannot read this mail properly, <a href="{{ archive_url }}" style="color: {{ default_color }};">click here to get the online version</a>.
          {% endblocktranslate %}
          {% endwith %}
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="0px"></mj-section>{% endif %}
    <mj-section background-color="#ffffff">
      <mj-column width="17%" vertical-align="middle">
      {% if settings.coderedcms.LayoutSettings.logo %}
        {% image settings.coderedcms.LayoutSettings.logo width-280 as logo %}
        <mj-image href="{{ site.root_page.full_url }}" src="{{ logo.full_url }}" alt="{{ site.site_name }}" align="center" padding="10px"></mj-image>
        {% else %}
        <mj-text font-style="bold" font-size="30px" href="{{ site.root_page.full_url }}">{{ site.site_name }}</mj-text>
        {% endif %}
      </mj-column>
      <mj-column width="83%" vertical-align="middle">
      {% get_website_navbars as navbars %}
        {% for navbar in navbars %}
        <mj-navbar base-url="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}" hamburger="hamburger" ico-color="{{ default_color }}" padding-top="5px" align="right">
          {% for item in navbar.content %}
            {% if item.value.use_in_mails %}
              {% if item.block.name == "dropdown" %}
                {% for sublink in item.value.links %}{% if sublink.value.use_in_mails %}
                <mj-navbar-link href="{{ sublink.value.url }}" color="#000000">{{ sublink.value.button_title }}</mj-navbar-link>
                {% endif %}{% endfor %}
              {% elif item.block.name == "link" %}
              <mj-navbar-link href="{{ item.value.url }}" color="#000000">{{ item.value.button_title }}</mj-navbar-link>
              {% endif %}
            {% endif %}
          {% endfor %}
        </mj-navbar>
      {% endfor %}
      </mj-column>
    </mj-section>
    {% for block in self.body %}
    {% include_block block with site=site %}
    {% endfor %}
    <mj-section background-color="{{ default_color }}" padding-bottom="20px" padding-top="0">
      <mj-column vertical-align="middle" width="20%">
        {% if settings.coderedcms.LayoutSettings.logo %}
          {% image settings.coderedcms.LayoutSettings.logo width-280 as logo %}
          <mj-image href="{{ site.root_page.full_url }}" src="{{ logo.full_url }}" alt="{{ site.site_name }}" align="center" padding="10px" border="none" padding-left="10px" padding-right="10px" padding-bottom="10px" padding-top="10px"></mj-image>
        {% else %}
          <mj-text font-style="bold" font-size="30px" href="{{ site.root_page.full_url }}">{{ site.site_name }}</mj-text>
        {% endif %}
      </mj-column>
      <mj-column vertical-align="middle" width="80%">
        <mj-social padding-top="20px" align="right">
        {% for social_link in settings.socials %}
          <mj-social-element href="{{ social_link.value.url }}" src="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}{% static "icons/"|add:social_link.value.icon_name|add:".png" %}"></mj-social-element>
        {% endfor %}
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="0px"></mj-section>
    {% if not archive %}<mj-section>
      <mj-column vertical-align="middle" background-color="#2f323b">
        <mj-text align="center" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0" color="#FFF">
          <p>
          {% url "mailing_unsubscribe" user_id=contact.id as unsubscribe_path %}
          {% with site_name=site.site_name  contact_email=contact.email default_color=default_color unsubscribe_url=request.scheme|add:"://"|add:request.get_host|add:unsubscribe_path %}
          {% blocktranslate %}
          You received this newsletter because you subscribed to <strong>{{ site_name }}</strong> with the mail <strong>{{ contact_email }}</strong>. If you do not want to receive these mails anymore, <a href="{{ unsubscribe_url }}" style="color: {{ default_color }};">click here to unsubscribe</a>.
          {% endblocktranslate %}
          {% endwith %}
          </p>
        </mj-text>
      </mj-column>
    </mj-section>{% endif %}
  </mj-body>
</mjml>
{% endmjml %}
{% endwith %}
