{% load i18n coderedcms_tags %}
<div class="{{ li_class }} nav-item d-flex flex-column justify-content-center dropdown nav-cart">
  {% is_active_page page self.page_link as is_active_url %}
  <button class="nav-link dropdown-toggle {% if is_active_url %}active{% endif %}"
      title="{% trans 'Cart' %}" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
    <i class="bx bxs-cart bx-sm bx-border-circle p-2 bg-primary text-light"></i>
  </button>
  <div class="dropdown-menu">TEST</div>
</div>
