{% load i18n wagtailadmin_tags coderedcms_tags %}
<div class="{{ li_class }} nav-item d-flex flex-column align-items-center dropdown nav-user">
  {% is_active_page page self.page_link as is_active_url %}
  <button class="nav-link dropdown-toggle {% if is_active_url %}active{% endif %}"
      title="{% trans 'Your account' %}" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
    {% if user.wagtail_userprofile.avatar %}
    <img class="rounded-circle avatar" alt="{% trans '{user}’s avatar' %}" width="42"
    heigh="42" src="{% avatar_url user size=42 %}"
    decoding="async" loading="lazy">
    {% else %}
    <i class="bx bxs-user bx-sm bx-border-circle p-2 bg-primary text-light"></i>
    {% endif %}
  </button>
  <div class="dropdown-menu">TEST</div>
</div>
