{% load i18n coderedcms_tags %}
<div class="{{ li_class }} nav-item nav-search d-flex align-items-center">
    <form action="{% url 'crx_search' %}">
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" aria-label="{% trans 'Search' %}" placeholder="{% trans 'Search' %}" name="s">
          <button type="submit" class="btn btn-sm btn-primary" aria-label="{% trans 'Search '%}"><i class="bx bx-search"></i></button>
        </div>
    </form>
</div>
