/* inclusive-sans-regular */
@font-face {
	font-family: Inclusive Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Inclusive Sans Regular"), local("InclusiveSans-Regular"), url(inclusive-sans-regular.woff2) format("woff2");
}

