/* open-sans-regular-latin */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* open-sans-regular-latin-ext */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* open-sans-regular-cyrillic */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* open-sans-regular-cyrillic-ext */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* open-sans-regular-greek */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* open-sans-regular-greek-ext */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

