{% load wagtailimages_tags website_tags %}
<!-- ======= About Us Section ======= -->
<section class="about-us container mb-3">
  <div class="row no-gutters">
    {% if value.image_position != 'right' %}
    <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right">
      {% image value.image width-526 %}
    </div>
    {% endif %}
    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
      <div class="content d-flex flex-column justify-content-center">
        <h3 data-aos="fade-up">{{ value.title | inline_richtext }}</h3>
        <div data-aos="fade-up">
        {{ value.text | block_richtext }}
        </div>
        <div class="row">
        {% for item in value.items %}
          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter0 }}00">
            <div class="container">
              <div class="row">
                <div class="col-2 align-content-center">
                  <i class="bx bx-{{ item.icon_name }}"></i>
                </div>
                <div class="col-10">
                  <h4 class="text-primary">{{ item.title | inline_richtext }}</h4>
                  {{ item.text | block_richtext }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    {% if value.image_position == 'right' %}
      <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-left">
        {% image value.image width-526 %}
      </div>
    {% endif %}
  </div>
</section><!-- End About Us Section -->


