{% load wagtailimages_tags %}
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container">

    <div class="row no-gutters">
      <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right">
        {% image value.image width-526 %}
      </div>
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up">{{ value.title }}</h3>
          <div data-aos="fade-up">
          {{ value.text }}
          </div>
          <div class="row">
          {% for item in value.items %}
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="bx bx-{{ item.icon_name }}"></i>
              <h4>{{ item.title }}</h4>
              <p>{{ item.text }}</p>
            </div>
          {% endfor %}
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->


