{% load wagtailimages_tags %}
<div class="col-lg-3 col-md-4 col-xs-6">
  <div class="client-logo" title="{{ value.name }}">
    {% image value.image.image width-400 class="img-fluid" alt=value.image.alt_text %}
  </div>
</div>

