{% load wagtailcore_tags website_tags %}
<!-- ======= Cta Section ======= -->
<section class="cta container-wide p-4">
  <div class="row">
    {% if value.alternate_layout %}
    <div class="text-center">
      <h3 class="fs-1">{{ value.title | inline_richtext }}</h3>
      <div class="fs-4" {{ value.text | block_richtext }}</div>
        <a class="btn btn-outline-light btn-lg" href="{{ value.page.url }}">{{ value.button_text }}</a>
      </div>
      {% else %}
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="fs-1">{{ value.title | inline_richtext }}</h3>
        <div class="fs-4" {{ value.text | block_richtext }}</div>
        </div>
        <div class="col-lg-3 cta-btn-container text-center d-flex  align-items-center">
          <a class="btn btn-outline-light btn-lg" href="{{ value.page.url }}">{{ value.button_text }}</a>
        </div>
        {% endif %}
      </div>
</section><!-- End Cta Section -->