{% load website_tags %}
  <!-- Faq Section - Home Page -->
  <section id="faq" class="faq">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
          <div class="content">
            <h3>{{ value.title }}</h3>
            {% if value.text %}{{ value.text | block_richtext }}{% endif %}
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            {% for item in value.items %}
            <div class="faq-item{% if forloop.first %} faq-active{% endif %}">
              <h3><span class="num">{{ forloop.counter }}.</span> <span>{{ item.question }}</span></h3>
              <div class="faq-content">
                {{ item.response | block_richtext }}
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->
            {% endfor %}
          </div>

        </div>
      </div>

    </div>

  </section><!-- End Faq Section -->

