{% load wagtailcore_tags wagtailimages_tags website_tags %}
<!-- ======= Features Section ======= -->
<section class="features container mb-3" id="features-{{ block.id }}">

  <div class="row p-1 text-center" data-aos="fade-up">
    <h3 class="display-5">{{ value.title | inline_richtext }}</h3>
    {% if value.text %}{{ value.text | block_richtext }}{% endif %}
  </div>

  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="d-flex align-items-start">
            <div class="nav nav-pills w-100 me-3" role="tablist" aria-orientation="vertical">
            {% for item in value.items %}
            <button
              class="nav-link w-100{% if forloop.first %} active{% endif %}" role="tab"
              {% if forloop.first %}aria-selected="true" {% endif %}id="tab-{{ block.id }}-{{ forloop.counter0 }}"
              data-bs-toggle="tab" data-bs-target="#tab-pane-{{ block.id }}-{{ forloop.counter0 }}" type="button"
              aria-controls="tab-pane-{{ block.id }}-{{ forloop.counter0 }}">
              <h4>{{ item.title | inline_richtext }}</h4>
            </button>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content">
            {% for item in value.items %}
            <div
              class="tab-pane fade{% if forloop.first %} show active{% endif %}"
              id="tab-pane-{{ block.id }}-{{ forloop.counter0 }}" role="tabpanel"
              aria-labelledby="tab-{{ block.id }}-{{ forloop.counter0 }}"
              tabindex="{{ forloop.counter0 }}">
              {{ item.content|block_richtext }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
      <ul class="nav nav-tabs flex-column">
      {% for item in value.items %}
        <li class="nav-item{% if not forloop.first %} mt-2{% endif %}">
          <h4>
          <a class="nav-link{% if forloop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ forloop.counter }}">
            {{ item.title | inline_richtext }}
          </a>
          </h4>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-lg-7 ml-auto" data-aos="fade-left" data-aos-delay="100">
      <div class="tab-content">
      {% for item in value.items %}
        <div class="tab-pane{% if forloop.first %} active show{% endif %}" id="tab-{{ forloop.counter }}">
          <figure class="float-start">
            {% image item.image.image original class="img-fluid" alt=item.image.alternative_text %}
          </figure>
          {{ item.description | block_richtext }}
          <div class="clearfix"></div>
        </div>
      {% endfor %}
      </div>
    </div>-->
  </div>

</section><!-- End Features Section -->

