{% load static i18n wagtailimages_tags wagtailcore_tags website_tags %}
<section class="carousel slide" id="carousel-{{ block.id }}" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {% for item in value.items %}
      <button type="button" data-bs-target="#carousel-{{ block.id }}" data-bs-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active" aria-current="true"{% endif %} aria-label="{{ item.title | inline_richtext }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for item in value.items %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}">
      {% image item.background_image fill-1920x500 as img%}
      <img src="{{ img.url }}" alt="{{ item.background_image.alt_text}}" height="500" class="d-block w-100"/>
      <div class="carousel-caption">
        <h2>{{ item.title | inline_richtext }}</h2>
        {{ item.text | block_richtext }}
        {% if item.page %}
        <div class="text-center"><a href="{{ item.page.url }}"
            class="btn btn-outline-light">{{ item.button_text }}</a></div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>  
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ block.id}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% trans 'Previous' %}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ block.id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% trans 'Next' %}</span>
  </button>

</section>
