{% load wagtailcore_tags %}
<div class="nav-item dropdown d-flex flex-column justify-content-center">
  <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ self.title }}
  </button>
  <ul class="dropdown-menu">
    {% for item in self.links %}{% include_block item with a_class="dropdown-item" %}{% endfor %}
  </ul>
</div>
