{% load static website_tags %}
<section class="paragraph container mb-3">
  <div class="p-2 {% if value.center %} text-center{% endif %}{% if value.border %}
    border{% endif %}{% if value.shadow %} shadow{% endif %}"{% if value.effect != "none" %} data-aos="{{ value.effect }}"{% endif %}>
    <h3>{{ value.title }}</h2>
    {{ value.text | block_richtext }}
  </div>
</section><!-- End Paragraph Section -->

