{% load i18n wagtailcore_tags website_tags %}
<!-- ======= Portfolio Section ======= -->
<section class="portfolio container mb-3">
    <div class="row p-1 text-center" data-aos="fade-up">
      <h3 class="display-5">{{ value.title | inline_richtext }}</h3>
      {% if value.text %}{{ value.text | block_richtext }}{% endif %}
    </div>
    <div class="row justify-content-center">
    {% for item in value.items %}
      <div class="col-md-4 col-lg-3">
        {% include item.specific.miniview_template with page=item.specific %}
      </div>
    {% endfor %}
    </div>
</section><!-- End Portfolio Section -->

