{% load display_choice %}
<div class="col-lg-4 col-md-6">
  <div class="box{% if value.promoted %} featured{% endif %}"{% if value.effect %} data-aos="{{ value.effect }}"{% endif %}>
    <h3>{{ value.name }}</h3>
    <h4>{{ value.price.amount | floatformat:"-2" }} <sup>€</sup></sup><span>{% if value.price.type != 'single' %} / {{ value.price | display_choice:"type" }}{% endif %}</span></h4>
    <ul>
      {% for item in value.items %}
      <li{% if not item.active %} class="na"{% endif %}>{{ item.label }}</li>
      {% endfor %}
    </ul>
    <div class="btn-wrap">
      <a href="#" class="btn-buy">{{ value.button_text }}</a>
    </div>
  </div>
</div>

