{% load wagtailcore_tags website_tags %}
  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h3>{{ value.title | inline_richtext }}</h3>
      {% if value.text %}{{ value.text | block_richtext }}{% endif %}
    </div>
      <div class="row">
        {% for item in value.items %}
          {% include_block item %}
        {% endfor %}
      </div>
    </div>
  </section><!-- End Pricing Section -->

