{% load wagtailcore_tags website_tags %}
  <!-- ======= Services Section ======= -->
  <section class="services container my-3">
    <div class="row justify-content-center text-center">
    {% for item in value.items %}
      <div class="col-lg-4 col-md-6 mt-5 service">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-{{ item.icon_name }} bx-md bx-border-circle"></i></div>
          <h3><a href="{{ item.page.url }}" class="stretched-link">{{ item.title }}</a></h3>
          {{ item.text | block_richtext }}
        </div>
      </div>
    {% endfor %}
    </div>
  </section><!-- End Services Section -->

