{% load wagtailimages_tags website_tags %}
<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
  <div class="member" data-aos="fade-up">
    <div class="member-img">
      {% image value.image.image fill-600x600 class="img-fluid" alt=value.image.alternative_text %}

      {% if value.social_links %}
      <div class="social">
      {% for link in value.social_links %}
      <a href="{{ link.url }}" title="{{ link.name }}"><i class="bi bi-{{ link.icon_name }}"></i></a>
      {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="member-info">
      <h4>{{ value.name }}</h4>
      {{ value.description | block_richtext }}
    </div>
  </div>
</div>

