{% load wagtailcore_tags wagtailimages_tags website_tags %}
<!-- ======= Testimonials Section ======= -->
<section class="testimonials container mb-3">
    <div class="row p-1 text-center" data-aos="fade-up">
      <h3 class="display-5">{{ value.title | inline_richtext }}</h3>
      {% if value.text %}{{ value.text | block_richtext }}{% endif %}
    </div>
    <div class="row">
    {% for item in value.items %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter0 }}00">
        <div class="testimonial-item mt-4 shadow p-3">
          <div class="container">
            <div class="row mb-3">
              <div class="col-2">
                {% image item.image fill-90x90 class="rounded-circle shadow" %}
              </div>
              <div class="col">
                <h4>{{ item.name }}</h4>
                <p><em>{{ item.description | inline_richtext }}</em></p>
              </div>
            </div>
            <div class="row">
              <blockquote>
                <i class="bx bxs-quote-alt-left bx-lg bx-pull-left text-primary"></i>
                {{ item.text | inline_richtext }}
                <i class="bx bxs-quote-alt-right bx-lg bx-pull-right text-primary"></i>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</section><!-- End Testimonials Section -->
