{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags django_bootstrap5 %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

<section class="search">
  <div class="container aos-init">
    {% if search_results %}
        <h3>{% blocktranslate %}Results for <q>{{ search_query}}</q>{% endblocktranslate %}</h3>
            {% for result in search_results %}
            <div class="row justify-content-center aos-animate search-result" data-aos="fade-up">
              <div class="col-lg-10">
                {% if result.specific.search_image and result.specific.search_image_alt %}
                {% image result.specific.search_image fill-200x200 alt=result.specific.search_image_alt class="float-start m-2" %}
                {% endif %}
                <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                {% if result.search_description %}
                {{ result.search_description }}
                {% endif %}
              </div>
            </div>
            {% endfor %}

        <div class="row">
            {% bootstrap_pagination search_results url=request.get_full_path justify_content="center" %}
        </div>
        {% elif search_query %}
            <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
              <div class="col-lg-10 float-end">
            {% trans "No results found" %}
              </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
