///
/// Wagtail CRX Sass starter template
///
/// Import scss sources from the coderedcms pip package,
/// or from your own local directory as needed.
///

// Use custom variables.
@import "coderedcms/vendor/bootstrap/scss/functions";
@import "variables";

// Import Bootstrap. Alternatively, change this to import individual components
// of Bootstrap as needed.
@import "coderedcms/vendor/bootstrap/scss/bootstrap";

// Wagtail CRX tweaks. You'll probably want to disable some of these and use
// your own styles instead.
@import "coderedcms/scss/crx-article";
@import "coderedcms/scss/crx-bs-overrides";
@import "coderedcms/scss/crx-filmstrip";
@import "coderedcms/scss/crx-gallery";
@import "coderedcms/scss/crx-hero";
@import "coderedcms/scss/crx-location";
@import "coderedcms/scss/crx-navbar";
@import "coderedcms/scss/crx-pricelist";
@import "coderedcms/scss/crx-richtext";

// Add your custom styles here.

// Adds a bit of spacing to "Responsive Grid Row" blocks.
.crx-grid {
  padding-top: 40px;
  padding-bottom: 40px;
}

.crx-grid .crx-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.rounded-icon {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
}

.navbar {
  .navbar-brand img {
    height: 80px;
  }

  button,
  a,
  input,
  input::placeholder {
    font-variant-caps: small-caps;
  }
}

.hero-bg .page-title {
  border-top: 5px solid $primary;
  background: rgba($gray-800, 0.5);
  padding: 1em;
  backdrop-filter: blur(5px);
}

.page-title a {
  color: $pink-300;

  &:hover {
    color: $pink;
  }
}

section.carousel {
  .carousel-caption {
    border-top: 5px solid $primary;
    background: rgba($gray-800, 0.7);
    padding: 2em;
    backdrop-filter: blur(5px);
  }

  .carousel-item img {
    object-fit: cover;
    height: 500px;
  }
}

.cta {
  background-color: $cyan-700;
  color: $light;
}

.service {
  .icon-box {
    background: $gray-100;
    border: 1px $border-style $border-color;
    border-top: 5px solid $primary;
    padding: 2em;
    // margin-top: 2em;
    position: relative;
    height: 100%;

    h3 a {
      text-decoration: none;
      text-transform: uppercase;
    }

    .icon {
      position: absolute;
      top: -30px;
      left: calc(50% - 30px);
      border-radius: 50%;
      border: 3px solid $white;
      background-color: $primary;
      color: $white;
      transition:
        color 0.3s,
        border-color 0.3s,
        background-color 0.3s;
    }
  }

  &:hover {
    // .icon-box {
    //   background-color: $gray-200;
    // }

    .icon {
      color: $primary;
      background-color: white;
      border-color: $primary;
      transform: scale(1.1);
    }
  }
}

.about-us .bx {
  font-size: 3em;
  color: $primary;
}

.testimonial-item {
  blockquote {
    font-family: "Alice";
    font-style: italic;
    font-size: 1.3em;
  }
}

.card.product {
  position: relative;
  height: 100%;

  .card-body {
    border-top: 5px solid $primary;
  }
}

.product {
  .carousel {
    .carousel-indicators {
      position: relative;

      [data-bs-target] {
        text-indent: 0;
        width: auto;
        height: auto;

        &:hover {
          opacity: 0.8;
        }

        &:first-child:active {
          border-color: transparent;
        }
      }
    }
  }
}

.link-list {
  list-style-type: "\1F517";
}