{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content_pre_body %}
{% if self.cover_image %}
{% image page.cover_image fill-1600x900 format-webp preserve-svg as cover_image %}
<div class="hero-bg mb-5" style="background-image:url({{cover_image.url}});">
  <div class="hero-fg">
{% else %}
<div class="bg-dark text-white p-2 mb-4">
{% endif %}
    <div class="container page-title align-items-center">
      <div class="row">
        <div class="col">
          <h2 class="display-6">{{page.title}}</h2>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
        {% if self.get_ancestors|length > 1 %}
          <nav aria-label="breadcrumbs">
            <ol class="breadcrumb m-0">
              {% for p in self.get_ancestors %}
                  {% if p.is_root == False %}
                      <li class="breadcrumb-item"><a href="{{ p.url }}">{{ p.title }}</a></li>
                  {% endif %}
              {% endfor %}

              <li class="breadcrumb-item active" aria-current="page">{{ self.title }}</li>
            </ol>
          </nav>
        {% endif %}
        </div>
      </div>
    </div>
{% if self.cover_image %}
  </div>
</div>
{% else %}
</div>
{% endif %}
{% endblock %}
