{% load static wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<mj-section background-color="{{ default_color }}" padding-bottom="0px" padding-top="0">
  <mj-column>
    <mj-carousel padding-left="25px" padding-right="25px" padding-top="10px" padding-bottom="10px" icon-width="48px"
      left-icon="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}{% static "mailing/caret-left-circle-regular-48.png" %}"
      right-icon="http{% if site.port == 443 %}s{% endif %}://{{ site.hostname }}{% static "mailing/caret-right-circle-regular-48.png" %}">
    {% for image in value %}
      {% image image.image fill-400x300 as img %}
      {% image image.image fill-110x110 as thumbnail %}
      <mj-carousel-image src="{{ img.full_url }}" alt="{{ image.image.alt_text }}" thumbnails-src="{{ thumbnail.full_url }}" href="{{ image.page.full_url }}" title="{{ image.page.title }}"/>
    {% endfor %}
    </mj-carousel>
  </mj-column>
</mj-section>
{% endwith %}

