{% load static wagtailcore_tags wagtailimages_tags %}
<mj-section background-color="#2f323b" padding-bottom="0px" padding-top="0">
  <mj-column width="{% if value.page %}15{% else %}25{% endif %}%">
    {% image value.icon.image width-42 as icon %}
    <mj-image src="{{ icon.full_url }}" alt="{{ value.icon.alt_text }}" align="center" border="none" width="42px" padding-left="0px" padding-right="0px" padding-bottom="10px" padding-top="10px"></mj-image>
  </mj-column>
  <mj-column width="{% if value.page %}50{% else %}75{% endif %}%">
    <mj-text align="left" color="#fff" font-size="18px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10px">
      {% include_block value.text %}
    </mj-text>
  </mj-column>
  {% if value.page %}
  <mj-column width="35%">
    <mj-button background-color="#fff" color="{{ default_color }}" font-size="16px" align="center" padding="15px 30px" border-radius="3px" href="{{ value.page.full_url }}" padding-left="25px" padding-right="25px" padding-bottom="10px">
      {{ value.button_text }}
    </mj-button>
  </mj-column>
  {% endif %}
</mj-section>
