{% load static wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<mj-section background-color="{{ default_color }}" padding-bottom="0px" padding-top="0">
  <mj-column width="200px">
    <mj-text align="left" color="#fff" font-size="40px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10px">
      <p style="font-size: 17px; text-transform: uppercase;">{{ value.title }}</p>
      {% include_block value.text %}
    </mj-text>
    <mj-button background-color="#fff" color="{{ default_color }}" font-size="16px" align="center" padding="15px 30px" border-radius="3px" href="{{ value.page.full_url }}" padding-left="25px" padding-right="25px" padding-bottom="10px">{{ value.text_link }}</mj-button>
  </mj-column>
  <mj-column width="400px">
    {% image value.background_image width-400 as img %}
    <mj-image src="{{ img.full_url }}" alt="{{ value.background_image.alt_text }}" align="center" border="none" width="400px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
  </mj-column>
</mj-section>
