{% load wagtailimages_tags %}
<mj-section background-color="#2f323b" padding-bottom="20px" padding-top="20px">
  {% for item in value %}
  <mj-column>
    {% image item.icon.image width-72 as img %}
    <mj-image src="{{ img.full_url }}" alt="{{ item.icon.alt_text }}" width="72px"></mj-image>
    <mj-text align="center" color="#fff" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0">
      <p style="font-size: 15px;font-weight: bold; text-transform: uppercase;">{{ item.title }}</p>
      {{ item.text }}
    </mj-text>
  </mj-column>
  {% endfor %}
</mj-section>
