{% load static wagtailcore_tags wagtailimages_tags mailing_tags %}

{% for line in value.products|batched:value.columns %}
<mj-section background-color="#fff" padding-bottom="20px">
  {% for product in line %}
  <mj-column vertical-align="bottom">
    {% image product.first_image fill-200x200 as img %}
    <mj-image src="{{ img.full_url }}" alt="{{ product.first_image.alt_text }}"
      align="center" border="none" width="209px" padding-left="15px" padding-right="15px" padding-bottom="20px" padding-top="30px"></mj-image>
    <mj-text font-weight="bold" align="center" color="#000" font-size="15px"
      padding-left="15px" padding-right="15px" padding-bottom="0px" padding-top="0">
      <p>{{ product.title }}</p>
    </mj-text>
    <mj-button background-color="{{ default_color }}" color="#fff" font-size="13px" align="center" padding="15px 30px" border-radius="3px" href="{{ product.full_url }}" padding-bottom="10px" padding-top="0">{{ value.button_text }}</mj-button>
  </mj-column>
  {% endfor %}
</mj-section>
{% endfor %}
