{% load static wagtailcore_tags wagtailimages_tags mailing_tags %}

<mj-section background-color="#fff" padding-bottom="20px">
  <mj-column>
  <mj-text>{{ value }}</mj-text>
  </mj-column>
</mj-section>
