{% load static wagtailcore_tags wagtailimages_tags %}

{% for item in value %}
{% cycle "left" "right" as pos %}
<mj-section background-color="{% if pos == "left" %}{{ default_color }}{% else %}#2f323b{% endif %}" padding-bottom="0px" padding-top="0">
  {% if pos == "left" %}
  <mj-column>
    {% image item.image.image fill-300x300 as img %}
    <mj-image src="{{ img.full_url }}" alt="{{ item.image.alt_text }}" width="300px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
  </mj-column>
  {% endif %}
  <mj-column width="50%">
    <mj-text align="left" color="#fff" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0">
      {%include_block item.title %}
    </mj-text>
    <mj-button background-color="{% if pos == "left" %}#fff{% else %}{{ default_color }}{% endif %}" color="{% if pos == "left" %}{{ default_color }}{% else %}#fff{% endif %}"
      padding="15px 30px" border-radius="3px" href="{{ item.page.full_url }}"
      padding-bottom="10px" padding-top="0">{{ item.button_text}}</mj-button>
  </mj-column>
  {% if pos == "right" %}
  <mj-column>
    {% image item.image.image fill-300x300 as img %}
    <mj-image src="{{ img.full_url }}" alt="{{ item.image.alt_text }}" width="300px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
  </mj-column>
  {% endif %}
</mj-section>
{% endfor %}
