{% extends "coderedcms/pages/web_page.html" %}
{% load website_tags wagtailimages_tags i18n %}

{% block content_body %}
<section class="product container mb-3">
    <div class="row">
        <div class="col-6">
            <div class="carousel slide" id="carousel-product-{{ page.id }}">
                <div class="carousel-inner">
                    {% for img in page.images %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        {% image img.value fill-800x1000 as image %}
                        <img src="{{ image.url }}" class="d-block w-100" alt="{{ img.value.alt_text }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carousel-product-{{ page.id }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% trans "Previous" %}</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carousel-product-{{ page.id }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% trans "Next" %}</span>
                </button> 
                <div class="carousel-indicators">
                    {% for img in page.images %}
                    <div class="thumbnail m-2">
                        <button type="button" class="btn{% if forloop.first %} active{% endif %}"
                            data-bs-target="#carousel-product-{{ page.id }}"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            aria-label="{{ img.alt_text }}"{% if forloop.first %}
                            aria-current="true"
                            {% endif %}>{% image img.value fill-100x100 %}</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-6 shadow p-3">
            <ul class="list-group m-3">
                {% for classifier, terms in page.grouped_classifierterms %}
                <li class="list-group-item">
                    <strong>{{ classifier }}</strong>: {{ terms|join:", " }}
                </li>
                {% endfor %}
            </ul>
            <p class="lead">{{ page.short_description | inline_richtext }}</p>
            {{ page.body | block_richtext }}
            {% if page.can_be_ordered %}
            <p class="lead text-center">{{ page.price}} €</p>
            {% endif %}
            {% if page.form_page %}<p class="text-center"><a class="btn btn-primary" href="{{ page.form_page.url }}">{% trans "Order" context "shop" %}</a></p>{% endif %}
        </div>
    </div>
    {% comment %}<div class="row">
        <div class="col">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                </li>
              </ul>
              <div class="tab-content border border-top-0 p-3">
                  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                      ...
                  </div>
                  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
                      ...
                  </div>
                  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">
                      ...
                  </div>
              </div>

        </div>
    </div>{% endcomment %}
</section>
{% endblock %}
