{% load i18n wagtailimages_tags website_tags %}
<div class="card product rounded-0">
    {% if page.images|length > 1 %}
    <div class="card-img-top rounded-0 ratio-1x1">
        <div class="carousel slide" id="carousel-product-{{ page.id }}">
            <div class="carousel-inner">
                {% for img in page.images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    {% image img.value fill-300x300 as image %}
                    <img src="{{ image.url }}" alt="{{ img.value.alt_text}}" class="d-block w-100 ratio-1x1">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button"
                data-bs-target="#carousel-product-{{ page.id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Previous" %}</span>
            </button>
            <button class="carousel-control-next" type="button"
                data-bs-target="#carousel-product-{{ page.id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Next" %}</span>
            </button> 
        </div>
    </div>
    {% else %}
    {% image page.first_image fill-300x300 as image %}
    <img src="{{ image.url }}" alt="{{ img.value.alt_text}}" class="card-img-top rounded-0 ratio-1x1">
    {% endif %}
    <div class="card-body">
        <h3 class="card-title">{{ page.title }}</h3>
        <p class="card-text">{{ page.short_description | inline_richtext }}</p>
        {% if page.can_be_ordered %}
        <p class="price">{{ page.price }} €</p>
        {% endif %}
    </div>
    <div class="card-footer bg-transparent">
        <a href="{{ page.url }}" class="btn btn-primary d-block w-100">{% trans "View product" %}</a>
    </div>

</div>
