{% extends "coderedcms/pages/web_page.html" %}
{% load i18n website_tags django_bootstrap5 %}

{% block content_body %}
<section class="product_landing container mb-3">
  {{ page.body }}
  <div class="row">
    <div class="col-3 shadow p-0">
      <h3 class="p-3 text-center">{% trans "Filters" %}</h3>
      <form>
        <div class="accordion accordion-flush mb-2" id="product-filter">
          {% for field in filters %}
          <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#product-filter-{{ field.label | slugify }}" aria-expanded="true"
                aria-controls="product-filter-{{ field.label | slugify }}">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
              </button>
            </h4>
            <div id="product-filter-{{ field.label | slugify }}" class="accordion-collapse collapse show">
              <div class="accordion-body">
                {% bootstrap_field field show_label=False ignore_server_validation=True placeholder=None %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="mb-3 px-2">
          <input type="submit" class="btn btn-primary w-100" value="{% trans " Filter" %}" />
        </div>
      </form>
      {% if filters.changed_data %}
      <div class="mb-3 px-2">
        <a class="btn btn-secondary w-100" href="{{ page.url }}">{% trans "All" %}</a>
      </div>
      {% endif %}
    </div>
    <div class="col-9">
      <div class="container">
        <div class="row">
          {% for child in products %}
          <div class="col-md-6 col-lg-4">
            {% include child.specific.miniview_template with page=child.specific %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% include "coderedcms/includes/pagination.html" with items=products %}
    </div>
  </div>
</section>
{% endblock %}