{% load wagtailcore_tags website_tags %}
<footer class="bg-secondary-subtle p-4">
  <div class="container">

    {# Loop through all Footer snippets and dynamically render the `content` StreamField. #}

    {% get_website_footers as footers %}
    {% for footer in footers %}
    <div class="row">
      {% for item in footer.content %}
      <div class="col{% if item.value.col_size %}-{{ item.value.col_size }}{% endif %}">
        <h3>{{ item.value.title | inline_richtext }}</h3>
        {% include_block item with settings=settings %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</footer>