{% load i18n menu_tags wagtailadmin_tags %}
<nav id="navbar" class="navbar">
  <ul>
      {% for item in menu_items %}
      <li{% if item.has_children_in_menu %} class="dropdown"{% endif %}>
          <a class="{{ item.active_class }}" href="{{ item.href }}">{{ item.text }}
          {% if item.has_children_in_menu %}<i class="bi bi-chevron-down"></i>{% endif %}</a>
          {% if item.has_children_in_menu %}
              {% sub_menu item template="menus/sub_menu_dropdown.html" %}
          {% endif %}
      </li>
      {% endfor %}
      <li class="search-bar form">
          <form method="get" action="{% url "search" %}">
              <div class="input-group">
                  <input type="text" name="query" class="form-control" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" {% if search_query %}value="{{ search_query }}" {% endif %}/>
                  <button class="btn btn-secondary input-group-text" aria-label="{% trans "Search" %}" title="{% trans "Search" %}"><i class="bi bi-search"></i></button>
              </div>
          </form>
      </li>
      {% comment %}
      <li class="basket dropdown"> <!-- TODO: do this better -->
          <a href="" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="basket-icon bi bi-cart-fill">
            {% if basket.count %}<span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger">
                {{ basket.count }}</span>{% endif %}
            </i></a>
          <ul class="dropdown-menu">
              {% for item in basket.get_items %}
              <li>{{ item }}</li>
              {% endfor %}
              <li><button class="btn btn-primary">{% trans "See basket" %}</button> <button class="btn btn-primary">{% trans "Validate order" %}</button></li>
          </ul>
      </li>{% endcomment %}
      {% comment %}<li class="usermenu dropdown">
          <a href=""><img class="avatar" src="{% avatar_url user 50 %}" alt="{{ user }}" /></a>
          <ul>
              <li><a href="">{% trans "Logout" %}</a></li>
          </ul>
      </li>{% endcomment %}
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->

