{% load menu_tags %}
{% if menu_items %}  
<ul>
    {% for item in menu_items %}
    <li{% if item.has_children_in_menu %} class="dropdown"{% endif %}>
        <a class="{{ item.active_class }}" href="{{ item.href }}">{{ item.text }}
        {% if item.has_children_in_menu %}<i class="bi bi-chevron-down"></i>{% endif %}</a>
        {% if item.has_children_in_menu %}
            {% sub_menu item template="menus/sub_menu_dropdown.html" %}
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
