{% load i18n website_tags django_bootstrap5 %}
{% if item.value.description %}{{ item.value.description | block_richtext }}{% endif %}
<form method="post" action="{% url 'mailing_subscription_success' %}">
  {% csrf_token %}
  {% for field in form %}
  {% trans "Subscribe" as btn_text %}
  {% with addon='<button type="submit" class="btn btn-outline-primary">'|add:btn_text|add:'</button>' %}
  {% bootstrap_field field show_label=False addon_after_class=None addon_after=addon %}
  {% endwith %}
  {% endfor %}
</form>