{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<!-- ======= Cta Section ======= -->
<section id="cta-alt" class="cta-alt">
  <div class="container">

    <div class="row">
      <div class="text-center">
          <h3>{% trans "Page not found" %}</h3>
          <p>{% trans "Sorry, this page could not be found" %}</p>
          <a class="cta-btn" href="/">{% trans "Back to homepage" %}</a>
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
{% endblock %}
