{% load static i18n %}
<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'favicon-error.png ' %}" rel="icon">
        <link href="{% static 'favicon-error-apple.png ' %}" rel="apple-touch-icon">

        <link href="{% static 'fonts/open-sans/open-sans.css' %}" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: Flattern
        * Updated: Jan 29 2024 with Bootstrap v5.3.2
        * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        <title>
            {% trans "Internal server error" %}
        </title>
    </head>
    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="/">{% translate "Error" %}</a></h1>
            </div>

            <nav id="navbar" class="navbar">
              <ul>
                  <li class="search-bar form">
                      <form method="get" action="{% url "search" %}">
                          <div class="input-group">
                              <input type="text" name="query" class="form-control" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" />
                              <button class="btn btn-secondary input-group-text" aria-label="{% trans "Search" %}" title="{% trans "Search" %}"><i class="bi bi-search"></i></button>
                          </div>
                      </form>
                  </li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->


          </div>
        </header><!-- End Header -->
  
        <main id="main">
            <section id="cta-alt" class="cta-alt">
              <div class="container">
                    <div class="row">
                      <div class="text-center">
                          <h3>{% trans "Internal server error" %}</h3>
                          <p>{% trans "Sorry, there seems to be an error. Please try again soon." %}</p>
                          <a class="cta-btn" href="/">{% trans "Back to homepage" %}</a>
                      </div>
                    </div>
            </section>
        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer">

          <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="Retour en haut"><i class="bi bi-arrow-up-short"></i></a>


    </body>

</html>
