{% load static i18n wagtailcore_tags wagtailuserbar wagtailsettings_tags wagtailimages_tags menu_tags home_tags %}
{% get_settings %}
{% with settings.home.CustomSiteSettings as settings %}
{% wagtail_site as site %}
<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicons -->
        {% image settings.favicon width-32 as favicon %}
        <link href="{{ favicon.url }}" rel="icon">
        {% image settings.favicon width-180 as favicon %}
        <link href="{{ favicon.url }}" rel="apple-touch-icon">

        <link href="{% static 'fonts/open-sans/open-sans.css' %}" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <link href="{% static 'css/app.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: Flattern
        * Updated: Jan 29 2024 with Bootstrap v5.3.2
        * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <title>{% spaceless %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% wagtail_site as current_site %}{% if current_site and current_site.site_name %} - {{ current_site.site_name }}{% endif %}{% endblock %}{% endspaceless %}</title>
        {% if page.search_image %}
        {% image page.search_image width-500 as search_image %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ search_image.url }}">
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <!-- ======= Top Bar ======= -->
        <section id="topbar" class="d-flex align-items-center">
          <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
              {% for contact in settings.contacts %}
              <i class="bi bi-{{ contact.value.icon_name }} d-flex align-items-center">
                {% if contact.value.address %}<a href="{{ contact.value.address }}">{{ contact.value.text }}</a>
                {% else %}<span>{{ contact.value.text }}</span>
                {% endif %}
              </i>
              {% endfor %}
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
              {% for social_link in settings.socials %}
              {% if social_link.value.show_in_header %}
              <a href="{{ social_link.value.url }}" class="{{ social_link.value.name }}" title="{{ social_link.value.name }}"><i class="bi bi-{{ social_link.value.icon_name}}"></i></a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex justify-content-between">

            <div class="logo">
              {% if settings.logo %}
              <a href="{{ site.root_page.url }}">{% image settings.logo height-70 class="img-fluid" %}</a>
              {% else %}
              <h1 class="text-light"><a href="{{ site.root_page.url }}">{{ site.site_name }}</a></h1>
              {% endif %}
            </div>

            {% main_menu template="menus/main_menu.html" sub_menu_template="menus/sub_menu.html" %}

          </div>
        </header><!-- End Header -->
  
        <main id="main">
          {% if page.get_ancestors|length > 1 %}
          <!-- ======= Breadcrumbs ======= -->
          <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
      
              <div class="d-flex justify-content-between align-items-center">
                <h2>{{ page.title }}</h2>
                <ol>
                {% for p in page.get_ancestors %}
                  {% if p.url %}
                  <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                  {% endif %}
                {% endfor %}
                  <li>{{ page.title }}</li>
                </ol>
              </div>
      
            </div>
          </section><!-- End Breadcrumbs -->
          {% endif %}
          {% block content %}{% endblock %}
        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer">

          <div class="footer-top">
            <div class="container">
              <div class="row">

                <div class="col-lg-2 col-md-6 footer-contact">
                  {{ settings.footer_text | block_richtext }}
                </div>

                <div class="col-lg-6 col-md-6 footer-links">
                  <h4>{{ settings.footer_links_header }}</h4>
                  <ul>
                    {% for link in settings.footer_links %}
                    <li><i class="bx bx-chevron-right"></i> <a href="{{ link.value.url }}">{{ link.value.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>{{ settings.newsletter_header}}</h4>
                  {{ settings.newsletter_desc | block_richtext }}
                  <form action="" method="post">
                    {% csrf_token %}
                    {{ subscription_form.newsletter_subscription_email }}<input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              {% for social_link in settings.socials %}
              <a href="{{ social_link.value.url }}" class="{{ social_link.value.name }}" title="{{ social_link.value.name }}"><i class="bi bi-{{ social_link.value.icon_name}}"></i></a>
              {% endfor %}
            </div>
          </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="Retour en haut"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
{% endwith %}
