/* ubuntu-regular-latin */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-regular-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-regular-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-regular-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-regular-greek */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-regular-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(ubuntu-regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-medium-latin */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-medium-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-medium-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-medium-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-medium-greek */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-medium-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-bold-latin */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-bold-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-bold-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-bold-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-bold-greek */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-bold-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-italic-latin */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-italic-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-italic-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-italic-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-italic-greek */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-italic-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-light-italic-latin */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-light-italic-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-light-italic-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-light-italic-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-light-italic-greek */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-light-italic-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-medium-italic-latin */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-medium-italic-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-medium-italic-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-medium-italic-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-medium-italic-greek */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-medium-italic-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-bold-italic-latin */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-bold-italic-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-bold-italic-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-bold-italic-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-bold-italic-greek */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-bold-italic-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* ubuntu-light-latin */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
/* ubuntu-light-latin-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}
/* ubuntu-light-cyrillic */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* ubuntu-light-cyrillic-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* ubuntu-light-greek */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* ubuntu-light-greek-ext */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

