<div class="dual-range d-flex">{% for widget in widget.subwidgets %}{% include widget.template_name %}{% if forloop.first %}<div class="slider-wrapper align-content-center">-</div>{% endif %}{% endfor %}</div>
